figure {
  position: relative;
  width: 100%;
  min-height: 160px;
  display: block;
  float: left;
  overflow: hidden;
  margin: 10px 0;
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.15s ease-in-out;
}
.ocean1 {
  background-color: #000;
  background-image: url("http://wordpressboss.com/wb/travas-demo/assets/images/destination/destination.jpg");
  background-size: cover;
  background-position: center center;
}
.ocean2 {
  background-color: #000;
  background-image: url("http://wordpressboss.com/wb/travas-demo/assets/images/destination/destination2.jpg");
  background-size: cover;
  background-position: center center;
}
.ocean3 {
  background-color: #000;
  background-image: url("http://wordpressboss.com/wb/travas-demo/assets/images/destination/destination3.jpg");
  background-size: cover;
  background-position: center center;
}
figcaption {
  display: block;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  width: 50%;
  height: 100%;
  margin: 0 0 0 -20px;
  padding: 20px;
  padding-left: 40px;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  -webkit-transition: all 0.15s ease-in-out;
}
figcaption a,
figcaption a:hover {
  color: #fff;
  text-decoration: none;
}
figcaption strong {
  display: block;
  word-wrap: normal;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -o-transform: skew(10deg);
}
figcaption strong:before {
  content: " ";
  border-top: solid 3px #071c34;
  width: 140%;
  display: block;
  clear: both;
  margin-bottom: 20px;
  -webkit-transition: all 0.15s ease-in-out;
}

/* HOVERS */
figure:hover figcaption {
  background-color: #071c34;
  -webkit-transition: all 0.15s ease-in-out;
}
figure:hover figcaption strong:before {
  width: 200%;
  border-color: #fff;
  -webkit-transition: all 0.15s ease-in-out;
}
